<section id="pie" class="p20">
    <article class="pie-art">
        <div class="df jcc p10 fs15">
            <h1>CONTACTANOS</h1>            
        </div>
        <div class="">
            <div class="pie-item">
                <i class="fas fa-directions"></i>
                <p>Av. Mitre 554</p>            
            </div>
            <div class="pie-item">
                <i class="fas fa-phone-square-alt"></i>
                <p> +54 3489 443500</p>            
            </div>
            <div class="pie-item">
                <i class="fas fa-mobile-alt"></i>
                <p> +54 3489 156009</p>            
            </div>
            <div class="pie-item">
                <i class="fas fa-clock"></i>
                <p> 8:00 AM a 20:00 PM</p>            
            </div>
            <div class="pie-item">
                <i class="fas fa-envelope"></i>
                <p>bb@butter.com</p>
            </div>
        </div>        
    </article>
    <article class="nets">
        <div class="df jcc p10">
            <h1>NUESTRAS REDES SOCIALES</h1>
        </div>
        <div class="df fdr jcse m20">
            <div class="pie-nets">
                <i class="fab fa-facebook-square"></i>
            </div>    
            <div class="pie-nets">
                <i class="fab fa-twitter-square"></i>
            </div>  
            <div class="pie-nets">
                <i class="fab fa-instagram-square"></i>
            </div>
        </div>          
    </article>
    <div class="copyright">
        <p>Copyright ©2020. Bakery B&B todos los derechos reservados</p>
    </div>
</section>