<header id="cabecera" class="df fww fdc p20">
    <section class="df fdr jcc m2010">
        <div class="fw1 mr20 df">
            <img class="w85" src="img-logo-landscape.jpg" alt="">
        </div> 
        <div class="fw2 df">
            <input class="p10 bus" type="" placeholder="Barra de Busqueda">
            <div class="lup">
                <i class="fas fa-search"></i>
            </div>
        </div>        
    </section>
    <section id="navegacion" class="m2010 df jcc">
        <div class="nav-control">
            <div class="df fdc">
                <i class="fas fa-bars asc fs2"></i> 
                <nav class="nav-bar fs1">
                    <ul class="df fdc">
                        <li class="asc mt10">Menu</li>
                        <li class="asc">Productos</li>
                        <li class="asc">Nuestra Historia</li>
                        <li class="asc">Contacto</li>
                    </ul>
                </nav>                 
            </div>  
        </div>
    </section>

</header>
