<header id="cabecera" class="df fww fdc p20 img-back">
    <section class="df fdr jcc m2010 lb">
        <div class="fw1 mr20 df w21">
            <a href="/"><img class="w100" src="/images/img-logov2.jpg" alt=""></a>
        </div> 
        <div class="fw2 df w100-1">
            <input class="p10 bus w100-1" type="" placeholder="Barra de Busqueda">
            <div class="lup">
                <i class="fas fa-search"></i>
            </div>
        </div>        
    </section>
    <section id="navegacion" class="m2010 df jcc">
        <div class="nav-control w100-1">
            <div class="df fdc">
                <i class="fas fa-bars asc fs2 ico-1"></i> 
                <nav class="nav-bar fs1">
                    <ul class="unorder df fdc">
                        <div class="df fdc aic ud jcsa">
                            <li class="asc mt10 fs12 fwb li-1"> <a href="/">Inicio</a></li>
                            <li class="asc fs12 fwb li-1"><a href="/products">Productos</a></li>
                            <li class="asc fs12 fwb li-1"><a href="/about">Nuestra Tienda</a></li>
                            <li class="asc fs12 fwb li-1"><a href="/contact">Contacto</a></li>
                        </div>                        
                        <span class="asc fs12 fwb dn">- o -</span>
                        <div class="df fdc aic ud jcsb">
                            <li class="asc mt10 fs12 fwb"> <a href="/users/login">Iniciar Sesion <i class="fas fa-sign-in-alt"></i></a></li>
                            <li class="asc fs12 fwb"><a href="/users/register">Registrarme <i class="fas fa-user"></i></a></li>
                            <li class="asc fs12 fwb"><a href="/products/cart">Comprar <i class="fas fa-shopping-cart"></i></a></li>
                        </div>                        
                    </ul>
                </nav>                 
            </div>  
        </div>
    </section>
</header>
