<header id="cabecera" class="df fww fdc p20">
    <section class="df fdr jcse">
        <div class="fw1">logo</div> 
        <div class="fw2">
            <input type="" placeholder="Barra de Busqueda">
            <i class="fas fa-search"></i>
        </div>        
    </section>
    <section id="navegacion">
    <i class="fas fa-bars"></i>
    <ul>
        <li>Menu</li>
        <li>Productos</li>
        <li>Nuestra Historia</li>
        <li>Contacto</li>
    </ul>
    
    </section>

</header>
