<header id="cabecera" class="df fww fdc p20">
    <section class="df fdr jcc m2010">
        <div class="fw1 mr20 df">
            <img class="w85" src="img-logo-landscape.jpg" alt="">
        </div> 
        <div class="fw2 df">
            <input class="p10 bus" type="" placeholder="Barra de Busqueda">
            <div class="lup">
                <i class="fas fa-search"></i>
            </div>
        </div>        
    </section>
    <section id="navegacion" class="m2010 df jcc fs2">
        <div class="nav-control">
            <div class="nav-ico">
                <i class="fas fa-bars"></i> 
                <nav class="nav-bar">
                    <ul>
                        <li>Menu</li>
                        <li>Productos</li>
                        <li>Nuestra Historia</li>
                        <li>Contacto</li>
                    </ul>
                </nav>                 
            </div> 
                     
            
        </div> 
    
    
    </section>

</header>
