<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  
  <%- include("./partials/header")  %> 

  <main id="history">
      <section>
        <h1 class="title">ยก Amasamos con Amor !</h1>
        <article class="his-art">
            <div>
                <img class="image" src="images/history/img-bread-1.jpg" alt="">
            </div>            
            <p class="parragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Est doloribus sunt voluptatum cupiditate, vel voluptas 
                perferendis temporibus eligendi dolorem! Magnam est voluptate 
                deserunt? Architecto beatae quam sunt vel commodi assumenda 
                debitis! Aut ad animi in officiis ipsum! Nemo omnis alias 
                suscipit possimus nostrum laborum dignissimos optio, placeat vel
                provident eius.
            </p>
        </article>
        <h1 class="title">ยก Creamos maravillas con nuestras propias manos !</h1>
        <article class="his-art">
            <div>
                <img class="image" src="images/history/img-bread-2.jpg" alt="">
            </div>            
            <p class="parragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Est doloribus sunt voluptatum cupiditate, vel voluptas 
                perferendis temporibus eligendi dolorem! Magnam est voluptate 
                deserunt? Architecto beatae quam sunt vel commodi assumenda 
                debitis! Aut ad animi in officiis ipsum! Nemo omnis alias 
                suscipit possimus nostrum laborum dignissimos optio, placeat vel
                provident eius.
            </p>
        </article>
        <h1 class="title">ยก Estamos atentos a los detalles !</h1>
        <article class="his-art">
            <div>
                <img class="image" src="images/history/img-bread-3.jpg" alt="">
            </div>            
            <p class="parragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Est doloribus sunt voluptatum cupiditate, vel voluptas 
                perferendis temporibus eligendi dolorem! Magnam est voluptate 
                deserunt? Architecto beatae quam sunt vel commodi assumenda 
                debitis! Aut ad animi in officiis ipsum! Nemo omnis alias 
                suscipit possimus nostrum laborum dignissimos optio, placeat vel
                provident eius.
            </p>
        </article>
        <h1 class="title">ยก Siempre los estamos esperando !</h1>
        <article class="his-art">
            <div>
                <img class="image" src="images/history/img-open.jpg" alt="">
            </div>            
            <p class="parragraph">Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                Est doloribus sunt voluptatum cupiditate, vel voluptas 
                perferendis temporibus eligendi dolorem! Magnam est voluptate 
                deserunt? Architecto beatae quam sunt vel commodi assumenda 
                debitis! Aut ad animi in officiis ipsum! Nemo omnis alias 
                suscipit possimus nostrum laborum dignissimos optio, placeat vel
                provident eius.
            </p>
        </article>
      </section>    
  </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>