<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  
  <%- include("./partials/header")  %> 

    <main id="contact">

      <h1 class="title">Sugerencias o Comentarios</h1>
      <section class="con-sec">
        
        <form id="contact-form" action="/">          
          <div class="con-inp">
            <label for="">Nombre</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">Apellido</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">Descripcion</label>
            <textarea name="" id="" rows="10"></textarea> 
          </div>
          <div class="con-bot">
            <button class="bot">Enviar</button>
            <button class="bot">Borrar</button>
          </div>
        </form>

      </section>

    </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>
