<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  
  <%- include("./partials/header")  %> 

    <main id="contact">
      <section class="con-sec">

        <h1 class="title">Sugerencias o Comentarios</h1>

        <form id="contact-form" action="/">          
          <div class="con-inp">
            <label for="">Nombre</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">Apellido</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">Descripcion</label>
            <textarea name="" id="" rows="10"></textarea> 
          </div>
        </form>

      </section>

    </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>
