<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  
  <%- include("./partials/header")  %> 

  <section id="banner">

  </section>

  <main id="principal">
    
  </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>