<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  <%- include("./partials/header")  %> 

  <section id="banner">

  </section>

  <main id="principal">
    <section class="baker">
      <h1>Panaderia</h1>
      <article>
        <div>
          <img src="images/img-medialunas.jpg" alt="">
        </div>
        <div>
          <h3>Medialunas</h3>
          <span>Precio: $100</span>
        </div>      
      </article>

    </section>
    <section class="coffe">
      <h1>Cafeteria</h1>
      <article>
        <h3>Cortado</h3>
        <div>
          <img src="images/img-cafe-1.jpg" alt="">
        </div>
        <div>
          <span>Precio: $50</span>
        </div>
      </article>
    </section>
  </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>