<!DOCTYPE html>
<html lang="en">

  <%- include("./partials/head")  %> 

<body>
  
  <%- include("./partials/header")  %> 

  <main id="principal">
    <section class="baker">
      <h1 class="title">Panaderia</h1>
      <article class="art">
      <div class="img">
          <img class="image" src="images/bakery/img-medialunas.jpg" alt="">
          <div class="pri-div">
            <h3>Medialunas</h3>
          </div>  
      </div>      
      </article>
      <article class="art">
        <div class="img">
            <img class="image" src="images/bakery/img-medialunas-rellenas.jpg" alt="">
            <div class="pri-div">
              <h3>Medialunas Rellenas</h3>
            </div>  
        </div>
  </section>

  <section class="pastry">
    <h1 class="title">Pasteleria</h1>
    <article class="art">
      <div class="img">
        <img class="image" src="images/bakery/img-torta-1.jpg" alt="">
        <div class="pri-div">
          <h3>Cumpleaños</h3>
        </div>
      </div>  
    </article>  
    <article class="art">
      <div class="img">
        <img class="image" src="images/bakery/img-torta-2.jpg" alt="">
        <div class="pri-div">
          <h3>Fiestas</h3>
        </div>
      </div>  
    </article>     
</section>

  <section class="coffe">
      <h1 class="title">Cafeteria</h1>
      <article class="art">
        <div class="img">
          <img class="image" src="images/coffee/img-cafe-1.jpg" alt="">
          <div class="pri-div">
            <h3>Cortado</h3>
          </div>
        </div>  
      </article>  
      <article class="art">
        <div class="img">
          <img class="image" src="images/coffee/img-cafe-2.jpg" alt="">
          <div class="pri-div">
            <h3>Expresso</h3>
          </div>
        </div>  
      </article>     
  </section>
    
  </main>

  <%- include("./partials/footer")  %> 
  
</body>
</html>