#pie {
    background-color: #e3d18a;
    background-image: url('/../images/background/img-21.jpg');
    background-size: cover;
}

.pie-art {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pie-item {
    display: flex;
    flex-direction: row;
    margin: 20px;
}

.pie-item .fas {
    font-size: 2em;
}

.pie-item p {
    margin-left: 20px;
}

.pie-nets .fab {
    font-size: 2em;
}

.pie-nets {
    display: inline;
}

.pie-nets span {
    display: none;
}

.copyright {
    display: flex;
    justify-content: center;
    font-size: 0.7em;
}

@media (min-width: 768px) {

    .pie-sec{    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .pie-ico {
        display: flex;
        flex-direction: column;
    }

    .pie-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
    }
    

    .pie-nets a {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 20px 0;
    }

    .pie-nets i {
        margin-right: 10px;
    }

    .pie-nets a span {
        display: inline;
    }
}

@media (min-width: 1024px) {}