* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
}

ul {
    list-style-type: none;
}


.df {display: flex;}
.fww {flex-wrap: wrap;}
.fdc {flex-direction: column;}
.fdr {flex-direction: row;}
.fg1 {flex-grow: 1;}
.fg2 {flex-grow: 2;}
.jcse {justify-content: space-evenly;}
.jcc {justify-content: center;}
.asc {align-self: center;}
.p20 {padding: 20px;}
.p10 {padding: 10px;}
.m20 {margin: 20px;}
.m2010 {margin: 20px 10px;}
.mr20 {margin-right: 20px;}
.mt10 {margin-top: 10px;}
.w85 {width: 85%;}
.fs1 {font-size: 1em;}
.fs15 {font-size: 1.5em;}
.fs2 {font-size: 2em;}

#cabecera {
    background-color: #e3d18a;
    
}

.logo {
    
}

.bus {
  border: 0px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
}

.lup {
    background-color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.nav-bar {
    display: none;
}

.nav-control :hover .nav-bar {
    display: block;
}