* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'RocknRoll One', sans-serif;
}

a {
    color: black;
    text-decoration: none;
}

.unorder {
    list-style-type: none;
}

.df {display: flex;}
.fww {flex-wrap: wrap;}
.fdc {flex-direction: column;}
.fdr {flex-direction: row;}
.fg1 {flex-grow: 1;}
.fg2 {flex-grow: 2;}
.jcse {justify-content: space-evenly;}
.jcc {justify-content: center;}
.asc {align-self: center;}
.aic {align-items: center;}
.p20 {padding: 20px;}
.p10 {padding: 10px;}
.m20 {margin: 20px;}
.m2010 {margin: 20px 10px;}
.mr20 {margin-right: 20px;}
.mt10 {margin-top: 10px;}
.w85 {width: 85%;}
.w100 {width: 100%;}
.fs1 {font-size: 1em;}
.fs12{font-size: 1.2em;}
.fs15 {font-size: 1.5em;}
.fs2 {font-size: 2em;}
.fwb {font-weight: bold;}
.cw {color: white;}

#cabecera {
    background-color: #e3d18a;    
}

.img-back {
    background-image: url('/../images/background/img-6.jpg');
    background-size: cover;
}

.bus {
  border: 0px;
  border-radius: 5px 0 0 5px;
  outline: none;
  
}

.lup {
    background-color: white;
    padding: 10px;
    border-radius: 0 5px 5px 0;
}

.nav-bar {
    display: none;
}

.nav-control :hover .nav-bar {
    display: block;
}

@media (min-width: 591px) {

    .w36 {width: 36%;}
    .lb {justify-content: unset;}
    .w100-1 {width: 100%;}
    .ico-1 {display: none;} 
    .nav-bar {display: block;}
    .ud {
        display: flex;
        flex-direction: row;
    }

    .jcsa {justify-content: space-around;}
    .jcsb {justify-content: space-between;}
    .jcse {justify-content: space-evenly;}
    .ud .li-1 {
        margin-top: unset;
        margin-bottom: 20px;
        margin-right: 20px;
        
    }
    .dn {display: none;}
}

@media (min-width: 768px) {}

@media (min-width: 1024px) {
    .w41 {width: 41%;}
    
}