#principal {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.title {
  margin: 20px;
}

.image {
  width: 100%;
}

.baker {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.coffe {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.pri-art {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}