#principal {
  display: flex;
  flex-direction: column;
  padding: 20px
}

#principal h1 {
  font-size: 2em;
}

.title {
  margin: 0 20px;
  text-align: center;
}

.image {
  width: 100%;
}

.baker {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.pastry {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.coffe {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}

.art {
  display: flex;
  border: 2px solid lightgray;
  padding: 10px;
  margin: 15px 0;
  box-shadow: 10px 10px 5px grey;
}

.pri-div {
  display: none;
  justify-content:center;  
}


.art :hover .pri-div {
  display: flex;
}

@media (min-width: 768px) {

  .baker{
    flex-direction: row;  
  } 

  .pastry{
    flex-direction: row;    
  } 

  .coffe{
    flex-direction: row;    
  } 

  .art{
    display: flex;
    align-items: center;
    margin: 25px;
    width: 40%;
  }

}

@media (min-width: 1024px) {

  .art{
    display: flex;
    align-items: center;
    margin: 25px;
    width: 19%;
  }

}