/* body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
} */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  margin: 20px;
}

img {
  width: 100%;
}

#principal {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.baker {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.coffe {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}