#login-form {
    display: flex;
    flex-direction: column;
    /* margin: 10%;
    padding: 5%;
    border: 1px solid lightgray; */

    border: 2px solid lightgray;
    padding: 10px;
    margin: 15px 0;
    box-shadow: 10px 10px 5px grey;
}

.log-sec {
    padding: 0 50px;
    padding-bottom: 30px;
}

.title {
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}

.log-inp {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}
  
.log-inp label {
    margin-bottom: 10px;
}

.log-bot {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}

.bot {
    /* padding: 5px 20px; */
    margin: 10px;
    padding: 10px 40px;
    background-image: url('/../images/texture/img-7.jpg');
    background-size: cover;
}

@media (min-width: 1024px) {

    .log-sec {
        padding: 0 100px;
        padding-bottom: 60px;
    }

}