<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

  <main id="login">
    <section class="log-sec">

      <h1 class="title">Inicio de Session</h1>

      <form id="login-form" action="/">          
        <div class="log-inp">
          <label for="">Nombre de Usuario o Correo</label>
          <input type="text">
        </div>
        <div class="log-inp">
          <label for="">Contraseña</label>
          <input type="password">
        </div>
        
        <div class="log-bot">
          <button class="bot">Iniciar Session</button>
          
        </div>
      </form>

    </section>

  </main>
  
  <%- include("../partials/footer")  %> 
  
</body>
</html>
