<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

    <main id="contact">
      <section class="con-sec">

        <h1 class="title">Registrarme</h1>

        <form id="contact-form" action="/">          
          <div class="con-inp">
            <label for="">Nombre</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">Apellido</label>
            <input type="text">
          </div>
          <div class="con-inp">
            <label for="">eMail</label>
            <input type="email">
          </div>
          <div class="con-bot">
            <button class="bot">Enviar</button>
            <button class="bot">Borrar</button>
          </div>
        </form>

      </section>

    </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>
