<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

  <main id="register">
    <section class="reg-sec">

      <h1 class="title">Registrarme</h1>

      <form id="register-form" action="/">          
        <div class="reg-inp">
          <label for="">Nombre de Usuario</label>
          <input type="text">
        </div>
        <div class="reg-inp">
          <label for="">Email</label>
          <input type="email">
        </div>
        <div class="reg-inp">
          <label for="">Contraseña</label>
          <input type="password">
        </div>
        <div class="reg-inp">
          <label for="">Repetir Contraseña</label>
          <input type="password">
        </div>
        
        <div class="reg-bot">
          <button class="bot">Registrarme</button>          
        </div>
      </form>

    </section>

  </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>
