<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

    <main id="products" class="df fdc">
      <section>
        <article class="art df fdc">
          <h1 class="title">TORTAS</h1>
          <img class="image" src="images/bakery/img-torta-1.jpg" alt="">
          <p class="df taj m10-0">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Quam voluptates, repellendus voluptatem, nam expedita eveniet 
            perferendis quasi ad repudiandae laboriosam perspiciatis corporis  
            maiores. Accusamus voluptas eaque ea quisquam quaerat porro?
          </p>          
          <div class="m10">
            <p class="mb10">Precio $750 x kg</p>
            <div class="df fdr">
              <p class="can asc">Cantidad</p>
              <i class="fas fa-minus-circle asc"></i>              
              <p class="num">1</p>
              <i class="fas fa-plus-circle asc"></i>
            </div>
          </div>
          <button class="boto">AGREGAR AL CARRITO</button>
        </article>
      </section>
    </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>


