<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

    <main id="products">
    <section class="baker">
        <h1 class="title">Panaderia</h1>
        <article>
        <div>
            <img class="image" src="images/bakery/img-medialunas.jpg" alt="">
        </div>
        <div class="pro-art">
            <h3>Medialunas</h3>
            <span>Precio: $100</span>
        </div>      
        </article>
    </section>

    <section class="coffe">
        <h1 class="title">Cafeteria</h1>
        <article>
        <div>
            <img class="image" src="images/coffee/img-cafe-1.jpg" alt="">
        </div>
        <div class="pro-art">
            <h3>Cortado</h3>
            <span>Precio: $50</span>
        </div>
        </article>
    </section>
    </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>


