<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %>

  <main id="products">

    <section class="pastry">
      <h1 class="title">Pasteleria</h1>
      <article class="art">
        <div class="img">
          <img class="image" src="images/bakery/img-torta-1.jpg" alt="">
          <div class="pri-div">
            <h3>Cumpleaños</h3>
          </div>
        </div>  
      </article>   
  </section>
  
  </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>
