<!DOCTYPE html>
<html lang="en">

  <%- include("../partials/head")  %> 

<body>
  
  <%- include("../partials/header")  %> 

    <main id="products">
      <section>
        <article>
          <h1 class="title">TORTAS</h1>
          <img class="image" src="images/bakery/img-torta-1.jpg" alt="">
          <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
            Optio illo, iure aperiam sapiente ullam distinctio nisi 
            quae ipsa vel aut. Beatae sunt, minima vero nulla maiores 
            dolores! Fuga quaerat atque dolorum modi asperiores dignissimos 
            minus tempore esse explicabo praesentium harum quibusdam sunt, 
            itaque ipsa perferendis enim eum earum illo pariatur?
          </p>
        </article>
      </section>
    </main>

  <%- include("../partials/footer")  %> 
  
</body>
</html>


